.user-section {
	border: 1px solid #F4F4F4;
	min-height:550px;
	padding:5px;
}

.view-results {
	width: 90%;
	margin: 70px auto;
}

.view-reservation {
	margin-top: 20px;
	width: 95%;
}

 th {
	text-align:center;
}

.results-item {
	text-align: left;
    height: auto;
    margin-left: 20px;
    padding: 10px;
}

.expander {
	width: 90%;
	padding-left: 20px;
	background-color: #f7f7f7;  
}

.view-results hr {
	margin: 0px 100px;
	margin-left: 0px;
	width: 90%;
}

.results-top {
	background-color: #d4d4d4;
	/* color: #fff; */
	border-radius: 5px;
	text-align: center;
	margin-left: 20px;
	padding: 5px; 
	font-weight: bold;
	width: 150px;
}

.view-results .row {
	margin-right: 0px;
}

.top-nav{
	margin : 30px auto;
	width: 60%;
}

.top-nav div {
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	color:brown;
	padding: 20px;
	width: 150px;
	text-align: center;
	font: bold 12px Verdana;
	float:left;
	margin: 5px; 
}

.top-nav-active{
	background-color: #292A29;
	color: #fff !important;
	border: none !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.passenger-info, .payment {
	margin: 70px auto;
	width: 80%;
	text-align:left;
	background-color: #f7f7f7;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.passenger-form, .payment {
	max-width: 400px;
	padding: 20px;
}

.passenger-form button {
	margin-top: 10px;
}
.passenger-form .control-label {
	font-weight: bold;
	padding-top: 10px; 
}

.form-control {
	padding: 10px;
	height:auto;
	margin-bottom: 5px;
	font-size: 14px;
}

.reservation-item {
	text-align: center;
    height: 10px;
    padding-left: 20px;
    margin-top: -15px;
}

.view-reservation hr {
	margin-top: 0px;
}

.profile {
	margin: 20px 10px;
	padding:10px;
	background-color: #f7f7f7;
	width: 40%;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}