<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fly5Client</display-name>
  <welcome-file-list>
    <welcome-file>fly5.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightServlet</display-name>
    <servlet-name>FlightServlet</servlet-name>
    <servlet-class>edu.sjsu.fly5.controller.FlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightServlet</servlet-name>
    <url-pattern>/admin/flight.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchServlet</display-name>
    <servlet-name>FlightSearchServlet</servlet-name>
    <servlet-class>edu.sjsu.fly5.controller.FlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchServlet</servlet-name>
    <url-pattern>/FlightSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>